* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  background-color: black;
}

header {
  height: 5vh;
}

main {
	
  overflow: hidden;
}

footer {
  height: 10vh;
  background-color: rgb(87, 87, 87);
}




/* FLEX FLEX FLEX FLEX FLEX FLEX FLEX FLEX */
.flex-row {
  display: flex;
}


/* COLORS COLORS COLORS COLORS COLORS COLORS */
.bg-black {
  background-color: black;
}


/* SPECIFIC SPECIFIC SPECIFIC SPECIFIC SPECIFIC */
#header-bar {
  height: 100%;
  padding: 0.5em 0.25em;
  justify-content: end;
  align-items: center;
}

#main-section {
  height: 85vh;
  margin: auto;
  padding: 3em 4em 2em;
  color: white;
}

#main-section .flex-row {
  max-height: calc(100% / 5);
  padding-bottom: 15px;
  gap: 8px;
}

#main-section .col {
  position: relative;
  flex-grow: 1;
}

.header-btn {
  padding: 5px;
  border: none;
  border-radius: 6px;
  margin-left: 3px;
  color: white;
  background-color: rgb(87, 87, 87);
}

.icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.header-btn-txt {
  vertical-align: middle;
}

.image {
  width: 100%;
  height: 100%;
}

.user {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-txt {
  font-size: 14px;
  vertical-align: middle;
  color: white;
}